services:
  backend:
    build: ./backend
    ports:
     - "8001:8000"  # было "8000:8000"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/salon_natasha
    depends_on:
     db:
        condition: service_healthy

  frontend:
    build:
      context: ./frontend      # <--- БЫЛО ".", СТАЛО "./frontend"
      dockerfile: Dockerfile
      args:
        - VITE_SUPABASE_URL=${VITE_SUPABASE_URL}
        - VITE_SUPABASE_ANON_KEY=${VITE_SUPABASE_ANON_KEY}
    ports:
      - "80:80"
    depends_on:
      - backend

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: salon_natasha
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d salon_natasha"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: