services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    environment:
      # Убедитесь, что тут правильные данные (user/password/db как в сервисе db)
      - DATABASE_URL=postgresql://user:password@db:5432/mydb
    depends_on:
      db:
        condition: service_healthy  # <--- Бэкенд будет ЖДАТЬ запуска базы

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    # Эта проверка каждые 5 сек стучится в базу
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d mydb"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: